@import url(../vendor/fonts/fonts.css);
/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-lighter: #EBEBEB;
  --basic-grey-hover: #D9D9D9;
  --basic-white: #ffffff;
  --special-yellow-dark: #F0C52E;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --invalid-pink: #f6dada;
  --disabled-grey: #A6A6A6;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  justify-self: center;
  margin: 0 auto;
}

.index-columns {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin: 0 auto;
  margin-bottom: 77px;
}

.button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  z-index: 0;
}

.button::before {
  content: " ";
  height: 8px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.5s;
  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.button:hover::before {
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  transition: 0.5s;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.6;
}

.section-heading {
  font-size: 47px;
  line-height: 58px;

  margin: 0;
}

/* Main-header */

.main-header {
  position: relative;
  background-color: var(--special-yellow);
  justify-self: center;
  margin-top: 40px;
  padding: 0 60px 50px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.main-header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.main-header__user-navigation {
  list-style: none;
  margin: 44px 0 50px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header__search-form {
  margin: 44px 0 50px 0;
  position: relative;
  padding-left: 38px;
}

.main-header__search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
}

.main-header__search {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  transition: 0.5s;
}

.main-header__search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__search:focus {
  color: var(--basic-black);
  border: none;
}

.main-header__search-button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 17px;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  transition: 0.5s;
}

.main-header__search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.main-header__search-button:focus {
  color: rgba(255, 255, 255, 0.3);
}

.main-header__user-link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  position: relative;
  padding-left: 25px;
  color: var(--basic-black);
  text-decoration: none;
  transition: 0.5s;
}

.main-header__user-link:hover {
  opacity: 0.6;
}

.main-header__user-link:focus {
  opacity: 0.3;
}

.main-header__user-link::before {
  content: "";
  width: 14px;
  height: 14px;
  transition: 0.5s;
  position: absolute;
  top: 4px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__user-link_login::before {
  background-image: url(../img/icon_user.svg);
}

.main-header__user-link_compare::before {
  background-image: url(../img/icon_chart.svg);
}

.main-header__user-link_cart::before {
  background-image: url(../img/icon_cart.svg);
}

.main-header__navigation-link_catalogue::after {
  content: "";
  width: 22px;
  height: 22px;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/icon_plus.svg);
}

.main-header__navigation-link {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.main-header__navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header__navigation-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* Popular Items */

.popular-items {
  max-width: 1160px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.popular-items::before {
  content: "";
  width: 100%;
  height: 130px;
  background-color: var(--special-yellow);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.popular-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: -23px;
}

.popular-item__heading {
  color: var(--basic-black);
  margin-top: 93px;
  margin-bottom: 27px;
}

.popular-item__image {
  justify-self: center;
}

.popular-item__description {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  max-width: 478px;
  margin-bottom: 60px;
}

.popular-item__link {
  padding-left: 42px;
  padding-right: 42px;
}

.popular-item__features {
  margin-top: 60px;
  border-collapse: collapse;
}

.popular-item__feature-value {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-right: 60px;
  padding-bottom: 15px;
}

.popular-item__feature-name {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* Popular Categories */

.popular-categories {
  padding-top: 20px;
  margin-top: 76px;
  margin-bottom: 50px;
}

.popular-categories__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  padding: 0;
}

.popular-categories__link {
  position: relative;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  text-decoration: none;
  max-width: 160px;
  padding-top: 38px;
  transition: 0.5s;
}

.popular-categories__link:hover::before {
  background-color: var(--special-yellow-dark);
}

.popular-categories__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.popular-categories__link:focus>.popular-categories__img {
  opacity: 0.3;
}

.popular-categories__link::before {
  content: "";
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.popular-categories__img {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
}

.popular-categories__img_virtual-reality {
  background-image: url(../img/popular_vr.svg);
}

.popular-categories__img_monopod {
  background-image: url(../img/popular_monopod.svg);
}

.popular-categories__img_action-camera {
  background-image: url(../img/popular_action-camera.svg);
}

.popular-categories__img_fitness-bracelet {
  background-image: url(../img/popular_fintess-bracelet.svg);
}

.popular-categories__img_smart-watch {
  background-image: url(../img/popular_smartwatch.svg);
}

.popular-categories__img_quadrocopters {
  background-image: url(../img/popular_quadrocopter.svg);
}

/* Services */

.services {
  width: 100%;
  padding-top: 134px;
}

.services__wrapper {
  background-color: var(--basic-grey-light);
  padding-bottom: 125px;
}

.services__container {
  display: grid;
  grid-template-columns: 4fr 4fr 19fr;
  column-gap: 40px;
}

.services__name-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -21px;
}

.services__input {
  display: none;
}

.services__button {
  display: inline-block;
  /* padding-left: 19px; */
  /* padding-right: 19px; */
  margin-bottom: 21px;
  text-align: center;
  width: 100%;
}

.services__button_active {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: var(--basic-black);
  color: var(--special-yellow);
}

.services__button_active::before {
  display: none;
}

.services__list {
  grid-column: 3 / 4;
}

.services__button:active {
  color: var(--special-yellow);
}

.services__button:active::before {
  background-color: var(--basic-black);
  width: 277px;
}

/* Service */

.service__name {
  letter-spacing: 0.2em;
  margin: 0;
  margin-top: -29px;
}

.service__description {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 40px 0 0;

  max-width: 495px;
}

/* Popular Brands */

.popular-brands {
  margin: 90px auto;
}

.popular-brands__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;

  padding: 0;
}

/* About Us */

.about-us {
  position: relative;
}

.about-us::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);

  position: absolute;
  top: -6px;
  left: 0;
}

.about-us__heading {
  letter-spacing: 0.2em;
  margin: 50px 0 41px;
}

.about-us__text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;

  max-width: 473px;
  margin: 0 0 40px;
}

.about-us__list {
  padding-left: 23px;
  margin: 60px 0 78px;
  list-style: none;
}

.about-us__list-item {
  font-size: 16px;
  line-height: 28px;

  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

.about-us__list-item::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -32px;
}

.about-us__list-link {
  color: var(--basic-black);
  text-decoration: none;
}

.about-us__link {
  padding-left: 24px;
  padding-right: 18px;
}

/* Contacts */

.contacts {
  position: relative;
}

.contacts::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);

  position: absolute;
  top: -6px;
  left: 0;
}

.contacts__heading {
  letter-spacing: 0.2em;
  margin: 50px 0 41px;
}

.contacts__text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 40px;
}

.contacts__map-link {
  text-decoration: none;
  margin-bottom: 71px;
  display: block;
}

.contacts__button {
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  font: inherit;
  background-color: transparent;
}

/* Main Footer */

.main-footer {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  padding: 45px 0 65px 0;
}

.main-footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: min-content 1fr 1fr min-content;
}

.main-footer__phone-number {
  color: var(--basic-white);
  text-decoration: none;
  grid-column: -2 / -1;
  grid-row: 3 / 4;
  justify-self: end;
}

.main-footer__user-navigation {
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  column-gap: 54px;
  margin: 0;
  padding: 0;
}

.main-footer__logo {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin-bottom: 40px;
}

.main-footer__user-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  padding-left: 11px;
}

.main-footer__user-link:hover {
  color: var(--basic-white);
}

.main-footer__user-link:hover::before {
  opacity: 0.6;
}

.main-footer__user-link:focus {
  opacity: 0.3;
}

.main-footer__user-link::before {
  content: "";
  width: 14px;
  height: 14px;
  transition: 0.5s;
  position: absolute;
  top: 4px;
  left: -14px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-footer__user-link_login::before {
  background-image: url(../img/icon_user_yellow.svg);
}

.main-footer__user-link_compare::before {
  background-image: url(../img/icon_chart_yellow.svg);
}

.main-footer__user-link_cart::before {
  background-image: url(../img/icon_cart_yellow.svg);
}

.main-footer__adress {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0;
}

.main-footer__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
}

.main-footer__navigation-link {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.main-footer__navigation-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer__navigation-link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.main-footer__copyright {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: end;
}

.main-footer__social-link {
  color: var(--basic-white);
  text-decoration: none;
}

/* Catalog Page */

/* Breadcrumbs */

.catalog-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 72px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transform: 0.5;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.1);
}

/* Filter */

.filter {
  background-color: var(--basic-grey-light);
  grid-row: 1 / -1;
}

.filter__heading {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__name {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter__price-option {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter__price-option_disabled {
  color: var(--disabled-grey);
}

.filter__list {
  list-style: none;
}

.filter__option-name {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.filter__button {
  padding-left: 37px;
  padding-right: 38px;
  border: none;
  font: inherit;
  background-color: transparent;
}

/* Sorting */

.sorting {
  background-color: var(--basic-grey-light);
  grid-column: 2 / -1;
}

.sorting__heading {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting__link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration: none;
  transition: 0.5s;
}

.sorting__link:hover {
  opacity: 0.6;
}

.sorting__link:focus {
  opacity: 1;
}

.sorting__link_active {
  opacity: 1;
}

/* Catalog */

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 45px;
}

.catalog__pagination-list {
  list-style: none;
  background-color: var(--basic-grey-lighter);
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
}

.catalog__number-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog__pagination-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.catalog__pagination-link_current {
  color: var(--basic-black);
}

.catalog__pagination-link_button {
  color: var(--basic-black);
}

.catalog__pagination-link_button:hover {
  background-color: var(--basic-grey-hover);
}

.catalog__pagination-link_button:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* Product */

.product-item__info {
  display: flex;
  justify-content: space-between;
}

.product__name {
  font-size: 18px;
  line-height: 22px;
  max-width: 260px;
}

.product__link {
  letter-spacing: 0.05em;
  color: var(--basic-black);
  text-decoration: none;
}

.product__price {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.product__add-to-cart {
  padding-left: 37px;
  padding-right: 38px;
  border: none;
  font: inherit;
  background-color: transparent;
}

.product__compare {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: 0.5s;
}

.product__compare:hover {
  opacity: 1;
}

.product__compare:focus {
  opacity: 0.2;
}

.visually-hidden {
  display: none;
  /* чуть позже доработаю, чтобы было доступно, пока спрятала, чтобы не мешалось*/
}